<!DOCTYPE html>

<html>

<head>
    <title>{{p_name}}</title>
    <link rel="icon" href="/img/wearher2.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{title}}</p>
        <p>This site was created by {{name}}</p>
        <p>Use this site to get you weater!</p>

        <img class="portrait" src="/img/what.jpg">
    </div>
    {{>footer}}
</body>

</html>