<!DOCTYPE html>

<html>

<head>
    <title>{{p_name}}</title>
    <link rel="icon" href="/img/wearher2.png">
    <link rel="stylesheet" href="/css/styles.css">


</head>

<body>

    <div class="main-content">
        {{>header}}
        <br>
        <p>{{helpText}}</p>
        <p>Use this site to get you weater!</p>
    </div>
    {{>footer}}
    <br>
</body>

</html>